@import url("https://fonts.googleapis.com/css?family=Underdog");
@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext");
body {
  font-family: "Roboto", sans-serif !important;
  background-image: url("http://localhost/mafija2/resources/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;}
